.board-preview {
    position: relative;
    justify-content: space-between;
    border-radius: 5px;
    padding: rem(5px) rem(7px);
    transition: 0.4s;
    cursor: pointer;
    a {
        color: #313131;
        text-decoration: none;
        flex-grow: 1;
        text-align: left;
    }
    .more-icon {
        opacity: 0;
    }
    &:hover {
        .more-icon {
            opacity: 0.8;
        }
        background-color: rgb(219, 219, 219);
    }
    .modal-side-nave {
        position: absolute;
        display: flex;
        align-items: center;
        left: 145px;
        top: 20px;
        z-index: 5;
        width: 150px;
        padding: 5px;
        background-color: #ffff;
        border-radius: 3px;
        box-shadow: 0px 3px 6px 0px #484444;
        .btn-in-modal {
            width: 100%;
            font-size: 14px;
            text-align: left;
            padding: 3px 1px;
            &:hover {
                cursor: pointer;
                background-color: rgb(235, 235, 235);
            }
            .MuiSvgIcon-root {
                margin-right: rem(4px);
                font-size: 14px;
                align-self: center;
            }
        }
    }
}
.modal-delete {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 400px;
    z-index: 8;
    padding: 20px;
    background-color: #fffdfd;
    box-shadow: 0px 3px 6px 0px #484444;
    border-radius: 4px;
    transition: width 1s;
    .top {
        p {
            font-size: 18px;
            text-align: center;
        }
    }
    .bottom {
        margin: 10px auto;
        button {
            border-radius: 4px;
            margin-right: 10px;
            border: none;
            padding: 8px;
            width: 90px;
            &:hover {
                opacity: 0.7;
                cursor: pointer;
            }
        }
    }
    .btn-delete {
        background-color: #e6223c;
    }
    .btn-go-back {
        background-color: #00ca71;
    }
}
