.board-details {
    flex-grow: 1;
    border-inline-start: 1px solid rgba(151, 151, 151, 0.493);
    transition: 0.4s;
    .MuiSvgIcon-root {
        align-self: center;
        color: rgb(92, 92, 92);
        border-radius: 4px;
        &:hover {
            background-color: #e6e9ef;
            cursor: pointer;
        }
    }
    .board-header-top-container {
        position: relative;
        width: 100%;
        flex-grow: 1;
        background-color: white;
        padding: 20px 10px;
        border-bottom: 1px solid rgba(151, 151, 151, 0.493);
        .board-name {
            max-width: 50%;
            font-family: font1;
            font-size: 28px;
            font-weight: bold;
            text-align: left;
            margin-bottom: 15px;
            flex-grow: 2;
        }
        .board-header-top-right {
            align-items: center;
            flex-grow: 1;
            justify-content: flex-end;
            padding-inline-end: 52px;
            & > *:not(:last-child) {
                padding: 10px;
                margin-inline-end: 10px;
            }
            .avatar {
                width: 35px;
                height: 35px;
            }
            .activities {
                color: rgb(50, 51, 56);
                border: 1px solid #c5c7d0;
                border-radius: 4px;
            }
            .libary-icon {
                display: none;
            }
        }
        .board-desc {
            text-align: left;
            max-width: 60%;
            margin-bottom: 10px;
        }
        .board-header-bottom-container {
            padding-inline-end: 52px;
            align-items: center;
            .board-creator {
                text-align: left;
                span {
                    transition: 0.2s;
                    cursor: pointer;
                    &:hover {
                        text-decoration: underline;
                        color: #0085ff;
                    }
                }
            }
            .bottom-right-container {
                & > *:not(:last-child) {
                    margin-right: 10px;
                }
                .btn-add-group {
                    background-color: #0085ff;
                    border: none;
                    border-radius: 4px;
                    line-height: 24px;
                    padding: 4px 8px;
                    color: #ffff;
                    &:hover {
                        background-color: #0071d9;
                        cursor: pointer;
                    }
                }
                .filter {
                    .btn-search {
                        width: 95px;
                        padding: 3px 10px;
                        border-radius: 4px;
                        transition: width 0.4s;
                        .input-search {
                            width: 100%;
                            border: none;
                            outline: none;
                            &::placeholder {
                                color: rgb(50, 51, 56);
                            }
                        }
                        &:hover {
                            .input-search {
                                background-color: rgb(230, 233, 239);
                            }
                            background-color: rgb(230, 233, 239);
                        }
                        &.searching {
                            position: relative;
                            width: 170px;
                            background-color: white;
                            border: 1px solid rgb(0, 133, 255);
                            &:hover {
                                .input-search {
                                    background-color: white;
                                }
                            }
                            .input-search:hover {
                                background-color: white;
                            }
                        }
                    }
                    .btn-filter {
                        width: rem(95px);
                        padding: 3px 10px;
                        background-color: #ffffff;
                        border: none;
                        border-radius: 4px;
                        color: rgb(51, 50, 56);
                        outline: none;
                        cursor: pointer;
                        &:hover {
                            background-color: #e6e9ef;
                            cursor: pointer;
                        }
                        svg {
                            color: rgb(92, 92, 92);
                        }
                    }
                }
            }
        }
    }
}
