.board-details {
    flex-grow: 1;
    border-inline-start: 1px solid rgba(151, 151, 151, 0.493);
    transition: 0.4s;
    .board-header-top-container {
        position: relative;
        width: 100%;
        flex-grow: 1;
        background-color: white;
        padding: 20px 10px;
        border-bottom: 1px solid rgba(151, 151, 151, 0.493);
        .board-name {
            font-family: font1;
            font-size: 28px;
            font-weight: bold;
            text-align: left;
            margin-bottom: 15px;
            flex-grow: 2;
        }
        .amit {
            align-items: center;
            flex-grow: 1;
            justify-content: flex-end;
            padding-inline-end: 52px;
        }
        .activities {
            color: #323338;
            border: 1px solid #c5c7d0;
            margin-inline-start: 13px;
            padding: 7px;
            border-radius: 3px;
        }
        .center-left {
            text-align: left;
            max-width: 60%;
            margin-bottom: 10px;
        }
        .board-header-bottom-container {
            padding-inline-end: 52px;
            align-items: center;
            .board-creator {
                text-align: left;
                span {
                    transition: 0.2s;
                    cursor: pointer;
                    &:hover {
                        text-decoration: underline;
                        color: #0085ff;
                    }
                }
            }
            .bottom-right-container {
                & > *:not(:last-child) {
                    margin-right: 10px;
                }
                .btn-add-group {
                    background-color: #0085ff;
                    border: none;
                    border-radius: 3px;
                    line-height: 24px;
                    padding: 4px 8px;
                    color: #ffff;
                    &:hover {
                        background-color: #0071d9;
                        cursor: pointer;
                    }
                }
                input {
                    border: none;
                    outline: none;
                    width: 110px;
                    transition: 0.4s;
                    margin-right: 7px;
                    border-bottom: 1px solid rgba(105, 105, 105, 0.664);
                    &:hover {
                        border-bottom: 1px solid rgb(105, 105, 105);
                    }
                    &:focus {
                        padding-right: 55px;
                        transition: 0.4s;
                        width: 160px;
                        border: 1px solid rgba(105, 105, 105, 0.664);
                        border-radius: 2px;
                    }
                }

                .filter {
                    cursor: pointer;
                    span {
                        margin-right: 5px;
                    }
                }
            }
        }
    }
    .avatar {
        width: 35px;
        height: 35px;
    }
}
