.comment-preview {
    border: 1px solid #e6e9ef;
    border-radius: 5px;
    .comment-author {
        padding: 10px 12px;
        font-size: 22px;
        padding-bottom: 5px;
        margin-bottom: 9px;
        .author-img {
            margin-right: 7px;
        }
    }
    h4 {
        font-size: 16px;
        font-weight: 400;
        margin: 0 10px;
    }
    span {
        font-size: 15px;
        padding: 10px;
    }
    .btn-comment-bottom {
        width: 100%;
        border-top: 1px solid #e6e9ef;
        :first-child {
            border-inline-end: 1px solid #e6e9ef;
        }
        .btn {
            color: #3f4045;
            width: 50%;
            padding: 12px 8px;
            background-color: #ffffff;
            .MuiSvgIcon-root {
                border: none;
                font-size: 1rem;
                margin-right: 4px;
            }
            &:hover {
                background-color: #e6e9ef;
                cursor: pointer;
            }
        }
    }
    .comment-time {
        flex: 1;
        font-size: 14px;
        &::before {
            padding-inline-end: 5px;
            opacity: 0.5;
            content: "\1F550";
        }
    }
    .comment-text {
        padding-bottom: 20px;
    }
    .uploaded-img {
        padding: 10px;
        width: 100%;
        height: 350px;
        object-fit: cover;
    }
}
