.filter-modal {
    position: absolute;
    top: 40px;
    right: 70px;
    z-index: 5;
    background-color: #ffffff;
    border-radius: 2px;
    color: #696a7b;
    box-shadow: 0px 3px 6px 0px #484444;
    padding: 5px;
    max-height: 300px;
    .col-modal {
        // border: 1px solid black;
        width: 130px;
        padding: 5px;
        & .filter-list {
            max-height: 80%;
            overflow-y: scroll;
            padding-right: 7px;

            div {
                width: 90%;
                border: none;
                background-color: #f5f6f8;
                margin: 3px 4px;
                padding: 5px 2px;
                border-radius: 2px;
                font-size: 12px;
                &:hover {
                    background-color: #e6e9ef;
                }
            }
        }
        .status {
            color: #ffffff;
            opacity: 0.9;
            &:hover {
                opacity: 1;
            }
        }
    }
    h1 {
        z-index: 6;
        padding: 2px;
        margin-block-start: 0.3em;
    }
}
