.groups {
    position: absolute; //drag div
}
.group-preview {
    position: relative;
    // overflow-x: overlay;
    padding-bottom: 45px;
    .group-header {
        height: 48px;
        padding: 0 8px;
        .group-name {
            display: contents;
            flex-wrap: nowrap;
        }
        .icon-drag {
            position: absolute;
            opacity: 0;
            transform: translate(-23px, 3px);
            transition: 0.2s;
        }
        &:hover .icon-drag {
            opacity: 0.6;
            &:hover {
                opacity: 1;
            }
        }
        .group-header-left {
            padding: 0 5px;
            align-items: center;
            .delete-icon {
                margin-right: 5px;
            }
            .btn-expand {
                cursor: pointer;
                &:hover {
                    background-color: rgba(197, 196, 196, 0.808);
                    border-radius: 50%;
                }
            }
        }
        .group-header-right {
            padding: 0 10px;
            h5 {
                font-weight: inherit;
                width: rem(150px);
                padding: 0 10px;
            }
        }
    }
}
