.group-edit {
    position: absolute;
    // justify-content: left;
    width: 150px;
    z-index: 5;
    background-color: white;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
    font-size: 14px;
    transform: translate(12px, 40px);
    & > * {
        cursor: pointer;
        padding: 3px 1px;
        &:hover {
            background-color: rgba(197, 196, 196, 0.808);
            border-radius: 1px;
        }
    }
    .delete {
        text-align: left;
    }
    svg {
        margin-right: rem(4px);
        font-size: smaller;
    }
}

/* COLORS PALETTE */
.colors-container {
    position: absolute;
    transform: translate(115%, 60%);
    width: 100px;
    padding: 0.2em;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
    cursor: default;
    transition: 0.5s;
}

.btn-color {
    width: 20px;
    height: 20px;
    margin: 0.2em;
    border: 1px solid rgb(209, 208, 208);
    border-radius: 50%;
    cursor: pointer;
}

.btn-color:hover {
    border: 1px solid black;
}

.btn-color:focus {
    outline: none;
}

.btn-color.dark-green {
    background-color: rgb(3, 127, 76);
}
.btn-color.green {
    background-color: rgb(0, 202, 113);
}
.btn-color.khaki {
    background-color: rgb(156, 211, 38);
}
.btn-color.orange {
    background-color: rgb(255, 100, 46);
}
.btn-color.light-orange {
    background-color: rgb(253, 171, 61);
}
.btn-color.yellow {
    background-color: rgb(253, 171, 61);
}
.btn-color.purple {
    background-color: rgb(120, 75, 209);
}
.btn-color.light-purple {
    background-color: rgb(162, 93, 220);
}
.btn-color.blue {
    background-color: rgb(0, 134, 192);
}
.btn-color.bourdeaux {
    background-color: rgb(187, 51, 84);
}
.btn-color.red {
    background-color: rgb(228, 66, 88);
}
.btn-color.pink {
    background-color: rgb(255, 21, 138);
}
.btn-color.black {
    background-color: rgb(32, 20, 17);
}
.btn-color.brown {
    background-color: rgb(127, 83, 71);
}
.btn-color.gray {
    background-color: gray;
}
