.noti-modal {
    overflow-y: scroll;
    position: absolute;
    width: 450px;
    height: 250px;
    left: 60px;
    top: 0;
    background-color: rgb(243, 243, 243);
    box-shadow: -1px 10px 44px -20px rgba(0, 0, 0, 0.94);
    padding: 5px 10px;
    text-align: left;
    .noti-header {
        font-weight: bold;
        font-size: 24px;
        text-transform: capitalize;
        padding-bottom: 7px;
    }
}
