.task-details {
    position: fixed;
    right: 0;
    top: 0;
    background-color: #ffffff;
    height: 100vh;
    width: 570px;
    z-index: 5;
    transition: 0.5s;
    text-align: left;
    padding: 5px 20px;
    box-shadow: 0px 0px 10px 0px #292f4c;
    .close-icon {
        color: #777;
        cursor: pointer;
        border-radius: 5px;
        &:hover {
            background-color: #c5c7d0;
        }
    }
    .task-name-container {
        font-size: 30px;
        padding: 15px 0;
    }
    input {
        width: 100%;
        padding: 10px 20px;
        border-radius: 5px;
        border: 1px solid #0085ff;
        margin-bottom: 20px;
    }
    form {
        padding: 0 0 20px;
        .update-btn {
            margin-top: 7px;
            align-self: flex-end;
        }
    }
    textarea {
        resize: none;
        width: 100%;
        height: 75px;
        border-radius: 10px;
        &:focus {
            outline: none;
            border: 1px solid rgba(138, 217, 231, 0.767);
        }
    }
}
