.column-members {
    position: relative;
    .MuiAvatarGroup-root {
        & > * {
            font-size: 1rem;
            height: 30px;
            width: 30px;
        }
    }
    .members-list {
        position: absolute;
        z-index: 5;
        width: 250px;
        padding: 5px 10px;
        background-color: white;
        box-shadow: 0px 3px 6px 0px #484444;
        border-radius: 4px;
        transform: translateX(-50%);
        input {
            border: none;
            border-radius: 4px;
            width: 100%;
            padding: 15px 19px 10px;
            font-size: 14px;
            &:focus {
                outline: none;
            }
        }
        .line {
            width: 75%;
            height: 1px;
            margin: 10px auto;
            background-color: #dbdbdb;
        }
        .people {
            position: absolute;
            transform: translate(-50%, -17px);
            background-color: white;
            padding: 0 5px;
            font-size: 12px;
        }
        .member-card {
            width: 95%;
            height: 40px;
            margin: auto;
            border-radius: 4px;
            .member-right {
                flex: 1;
            }
            &:hover {
                background-color: #dbdbdb;
                .member-btn {
                    color: #0085ff;
                }
            }
            .avatar {
                width: 35px;
                height: 35px;
                font-size: 14px;
                margin: 5px;
            }
            .member-name {
                font-size: 14px;
            }
            .member-btn {
                font-size: 1.2rem;
                padding-right: 13px;
                transition: 0.2s;
            }
        }
    }
}
