.main-header {
    position: fixed;
    left: 0;
    height: 100vh;
    width: rem(150px);
    padding: rem(10px) rem(5px);
    background-color: #292f4c;
    flex-direction: column;
    .top-header {
        flex-direction: column;
        height: rem(200px);
        justify-content: space-between;
        img {
            margin: rem(10px) auto;
            height: rem(90px);
            width: rem(90px);
            cursor: pointer;
        }
        span {
            color: white;
            cursor: pointer;
        }
    }

    .nav-header {
        flex-direction: column;
        height: rem(250px);
        margin-bottom: rem(40px);
        a {
            color: white;
            text-decoration: none;
        }
    }
}
