.board-side-nav {
    padding: rem(10px) rem(12px);
    flex-direction: column;
    left: rem(120px);
    height: 100vh;
    width: rem(220px);
    border-right: 1px solid hsla(0, 0%, 42.7%, 0.35);
    border-left: 1px solid hsla(0, 0%, 42.7%, 0.35);
    border-radius: 15px 0 0 0;
    z-index: 3;
    background-color: white;
    transition: 0.5s;
    overflow: visible;
    .btn-add {
        background-color: #0085ff;
        height: rem(30px);
        width: rem(30px);
        outline-style: none;
        border-radius: 60%;
        border: none;
        font-size: rem(25px);
        color: white;
        cursor: pointer;
    }
    // &.hidden {
    //     width: 0px;
    //     padding: 0px;
    //     border: none;
    //     overflow: hidden;
    // }
    // .side-nav-toggle {
    //     position: absolute;
    //     right: 0;
    //     transform: translate(50%);
    //     cursor: pointer;
    //     background-color: #f7f7f7;
    //     border-radius: 50%;
    //     border: 1px solid rgba(120, 120, 100, 0.945098);
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     padding: 1px;
    //     height: 20px;
    //     width: 20px;
    //     top: 20px;
    //     transition: 0.3s;
    // }
}
