.board-side-nav {
    height: 100vh;
    background-color: #292f4c;
    transition: 0.5s;
    & > * {
        padding: rem(10px) rem(12px);
        background-color: white;
        width: 100%;
    }
    .board-side-nav-top {
        text-align: start;
        border-radius: 15px 0 0 0;
    }
    .board-side-nav-bottom {
        flex-grow: 1;
    }
    .btn-add {
        background-color: #0085ff;
        height: rem(30px);
        width: rem(30px);
        outline-style: none;
        border-radius: 60%;
        border: none;
        font-size: rem(25px);
        color: white;
        cursor: pointer;
    }
    // &.hidden {
    //     width: 0px;
    //     padding: 0px;
    //     border: none;
    //     overflow: hidden;
    // }
    // .side-nav-toggle {
    //     position: absolute;
    //     right: 0;
    //     transform: translate(50%);
    //     cursor: pointer;
    //     background-color: #f7f7f7;
    //     border-radius: 50%;
    //     border: 1px solid rgba(120, 120, 100, 0.945098);
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     padding: 1px;
    //     height: 20px;
    //     width: 20px;
    //     top: 20px;
    //     transition: 0.3s;
    // }
}
