.board-preview {
    justify-content: space-between;
    border-radius: 5px;
    padding: rem(5px) rem(7px);
    transition: 0.4s;
    a {
        color: #313131;
        text-decoration: none;
        flex-grow: 1;
        text-align: left;
    }
    &:hover {
        background-color: rgb(219, 219, 219);
    }
    .delete-board-btn {
        margin-right: rem(5px);
        font-size: large;
    }
}
