.group-preview {
    margin: rem(10px);
    width: 70vw;
    .header-group {
        justify-content: space-between;
        .header-left {
            align-items: center;
            .delete-icon {
                margin-right: 5px;
            }
        }
        .header-right {
            padding: 0 10px;
            h3 {
                width: rem(130px);
            }
        }
    }
}
