.group-preview {
    margin: 10px;
    width: 70vw;
    .header-group {
        justify-content: space-between;
        .header-left {
            button {
                align-self: center;
                background-color: rgb(175, 175, 175);
                border-radius: 50px;
                border: none;
                height: 1.25rem;
                margin-right: 5px;
                cursor: pointer;
            }
        }
        .header-right {
            h3 {
                width: 100px;
            }
        }
    }
}
