.group-preview {
    margin: rem(10px);
    width: 70vw;
    .header-group {
        justify-content: space-between;
        .header-left {
            button {
                align-self: center;
                background-color: rgb(175, 175, 175);
                border-radius: rem(50px);
                border: none;
                height: rem(20px);
                margin-right: rem(5px);
                cursor: pointer;
            }
        }
        .header-right {
            h3 {
                width: rem(100px);
            }
        }
    }
}
