.input-task {
    display: flex;
    justify-self: start;
    border: none;
    padding: rem(2px) rem(22px);
    width: 100%;
    height: rem(34px);
    line-height: rem(40px);
    border: 1px solid transparent;
    transition: 0.4s;
    box-shadow: 0 3px 4px -5px #484444;
    &:hover {
        border: 1px solid rgb(73, 73, 73);
        border-radius: 2px;
    }
}
