.task-preview {
    display: flex;
    background-color: #f1f1f1;
    margin-bottom: rem(2px);
    height: rem(40px);
    border-radius: 5px;
    box-shadow: 0 3px 4px -5px #484444;
    transition: background-color 0.3s;
    padding: rem(5px) rem(10px);
    align-items: center;
    color: #3f4045;
    font-size: rem(14px);
    .task-left {
        min-width: rem(400px);
        .trash {
            font-size: larger;
            align-self: center;
            cursor: pointer;
            margin-right: rem(15px);
        }
    }
    .task-right {
        .avatar {
            width: rem(33px);
            height: rem(33px);
        }
        div {
            line-height: rem(40px);
            width: rem(100px);
            height: rem(40px);
        }
        .chat {
            font-size: large;
        }
        .status {
            border: 0.5px solid black;
            border-radius: 5px;
        }
        .priority {
            border: 0.5px solid black;
            border-radius: 5px;
        }
    }
    &:hover {
        background-color: rgb(219, 219, 219);
    }
}
.input-task {
    display: flex;
    justify-self: start;
    border: none;
    width: 100%;
    height: rem(40px);
    line-height: rem(40px);
    border: 1px solid transparent;
    transition: 0.4s;
    &:hover {
        border: 1px solid rgb(73, 73, 73);
        border-radius: 5px;
    }
}
.input-date {
    width: rem(90px);
    border: none;
    background-color: #f1f1f1;
}
