/* BASE */

html {
    text-align: center;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100%;
    overflow-y: hidden;
}

.loader-container {
    background-color: white;
    height: 100vh;
    width: 100vw;
}
