@media screen and (max-width: 750px) {
    .login-page .login-container {
        width: 95vw;
    }
    .home {
        flex-direction: column;
        overflow: overlay;
        .home-header {
            padding: 10px 20px;
        }
        .home-main {
            width: 100vw;
            flex-direction: column-reverse;
            .align-start {
                align-items: center;
            }
            .first-panel {
                padding: 10px 30px;
                margin-bottom: 20px;
                h1 {
                    margin: 0;
                }
                p {
                    line-height: 1.5;
                    text-align: left;
                    padding-left: 30px;
                }
            }
        }
        div img {
            padding-top: 0px;
            width: 375px;
        }
    }
    .board-app {
        height: 100vh;
        flex-direction: column;
        .header-main {
            height: 70px;
            width: 100vw;
            z-index: 12;
            flex-direction: row;
            justify-content: space-between;
            .tab-name {
                display: none;
            }
            .header-left-panel {
                height: 70px;
                .header-left-top {
                    z-index: 5;
                    bottom: 0;
                    right: 0;
                    position: fixed;
                    & span {
                        border-radius: 50%;
                        & svg {
                            color: black;
                            font-size: 2rem;
                            padding: 3px;
                            background-color: white;
                            border: 2px solid #292f4c;
                            border-radius: 50%;
                        }
                    }
                    & a {
                        display: none;
                    }
                    & :hover {
                        background-color: white;
                    }
                    .noti-modal {
                        width: 90vw;
                        left: -310px;
                        top: -250px;
                    }
                }
                .header-left-bottom {
                    background-color: #e2e2e2;
                    width: 100vw;
                    z-index: 11;
                    .col {
                        flex-direction: row;
                        justify-content: space-between;
                    }
                    a {
                        text-decoration: none;
                        text-align: left;
                        color: #717277;
                    }

                    .header-item {
                        width: 100vw;
                        border-bottom: 1px solid white;
                        margin: 0;
                        .MuiSvgIcon-root {
                            font-size: x-larger;
                            align-self: center;
                            color: #717277;
                        }
                    }
                    .event-note::after {
                        content: "All my event";
                    }
                    .person::after {
                        content: "To my profile";
                    }
                    .exit-to-app::after {
                        content: "Exit";
                        text-decoration: none;
                    }
                }
            }
            .header-right-panel {
                display: none;
            }
            .hamburger {
                display: flex;
            }
            .open {
                transform: translate(0px, -150%);
            }
        }
        .board-side-nav {
            position: absolute;
            z-index: 13;
            box-shadow: 0px 3px 6px 0px #484444;
        }
        .btn-toggle-sidenav {
            width: 33px;
            height: 33px;
            top: -10px;
            left: 167px;
            z-index: 13;
            .MuiSvgIcon-root {
                font-size: 1.2rem;
            }
        }
        .board-side-nav-close {
            .btn-toggle-sidenav {
                width: 33px;
                height: 33px;
                top: 56px;
                left: -7px;
                z-index: 13;
                .MuiSvgIcon-root {
                    font-size: 1.2rem;
                }
            }
        }
        .board-main {
            overflow-x: hidden;
            width: 100vw;
        }
        .board-details {
            .board-header-top-container {
                .board-name {
                    font-size: 20px;
                }
                .board-header-top-right {
                    padding-inline-end: 0;
                    padding: 3px;
                    .activities {
                        padding: 4px;
                        display: none;
                    }
                    .libary-icon {
                        display: flex;
                        font-size: x-large;
                        padding: 0;
                    }
                }
                .board-header-bottom-container {
                    .board-creator {
                        font-size: 14px;
                    }
                    padding-inline-end: 0;
                    .filter {
                        div.btn-search {
                            transition: 0.7s;
                            &.searching {
                                width: 160px;
                                transform: translate(98px, 52px);
                                z-index: 12;
                                &:focus {
                                    background-color: royalblue;
                                }
                            }
                        }
                        button.btn-filter {
                            width: 55px;
                        }
                        .filter-modal {
                            left: 0;
                            width: 100vw;
                            padding: em(5px);
                            overflow-x: scroll;
                            & .column {
                                h1 {
                                    width: rem(100px);
                                    margin-block-start: 0.47em;
                                    margin-block-end: 0.47em;
                                }
                                li {
                                    width: rem(100px);
                                }
                            }
                        }
                    }
                    .btn-add-group {
                        display: none;
                    }
                }
            }
        }
    }
    .group-list {
        .group-preview {
            min-width: 1000px;
            .task-preview {
                .task-left {
                    flex: 1;
                    width: 25ch;
                }
                .task-details {
                    height: 100vh;
                    width: 100vw;
                    z-index: 13;
                    .comment-preview {
                        .comment-time {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 750px) {
    .login-page .login-container {
        width: 40vw;
    }
    .home {
        .home-header {
            padding: 10px 50px;
        }
        .home-main {
            flex-direction: row-reverse;
            .home-header {
                padding-inline-start: rem(90px);
            }
            .first-panel {
                padding: 50px 150px 50px 50px;
                text-align: start;
            }
            h1 {
                margin: 0;
            }
            p {
                line-height: 2;
            }
        }
    }
    .group-preview {
        min-width: 1290px;
    }
    .task-preview {
        .task-left {
            width: 40%;
            justify-content: space-between;
        }
    }
}

@media screen and (min-width: 1500px) {
    .login-page .login-container {
        width: 40vw;
    }
    .group-preview {
        min-width: 1740px;
    }
    .task-preview {
        .task-left {
            width: 56%;
        }
    }
}
