.profile {
    height: 100vh;
    width: 100%;
    background-color: #292f4c;
}

.profile-header {
    padding: rem(32px) 0;
    box-shadow: 0 4px 8px -1px rgba(0, 0, 0, 0.2);
    background-color: #0085ff;
    z-index: 2;
    border-left: 1px solid #0085ff;
    border-radius: 15px 0 0 0;
    div {
        width: rem(150px);
        height: rem(150px);
        line-height: rem(150px);
        background-color: #a35ddd;
        border-radius: 50%;
        font-size: rem(64px);
        font-weight: bold;
        color: white;
    }
    h1 {
        font-size: rem(32px);
        font-weight: 300;
        color: white;
    }
}

.profile-main {
    flex-grow: 1;
    padding-top: rem(48px);
    background-color: white;
    border-left: 1px solid white;
    z-index: 2;
    & > * {
        margin: rem(16px);
        padding: rem(16px) rem(80px);
    }
    .first-panel {
        flex-grow: 1;
        border-inline-end: 5px solid rgba(170, 168, 168, 0.116);
        border-radius: 1px;
        h2 {
            line-height: rem(150px);
            margin-top: 0px;
        }
    }

    .second-panel {
        flex-grow: 1;
        border-inline-end: rem(5px) solid rgba(170, 168, 168, 0.116);
        border-radius: 1px;
        h2 {
            line-height: rem(150px);
            margin-top: 0px;
        }
    }

    .third-panel {
        flex-grow: 1;
        text-align: start;
        img {
            width: rem(150px);
            border-radius: 50%;
            margin-bottom: rem(16px);
        }
        li {
            margin-bottom: rem(16px);
            display: flex;
            align-items: center;
            span {
                font-weight: bold;
                margin-inline-start: 0.5rem;
                margin-inline-end: 0.5rem;
            }
            svg {
                opacity: 0.8;
            }
        }
    }
}
