/* HELPERS */

.main-layout {
    max-width: 1200px;
    margin: 0 auto;
}

/* grid-helpers */

.grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, 50px);
    grid-template-rows: repeat(auto-fill, 50px);
    grid-auto-flow: dense;
}
/* position-helpers*/
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
/* flex-helpers */

.flex {
    display: flex;
}

.flex.col {
    flex-direction: column;
}

.inline-flex {
    display: inline-flex;
}

.flex.align-center {
    align-items: center;
}

.flex.align-start {
    align-items: flex-start;
}

.flex.align-end {
    align-items: flex-end;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.space-around {
    justify-content: space-around;
}

.flex.center {
    justify-content: center;
}

.flex.end {
    justify-content: flex-end;
}

.flex.start {
    justify-content: flex-start;
}

.flex.wrap {
    flex-wrap: wrap;
}

.self-center{
    align-self:center;
}

/* list-helpers */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

// editable content
.editable {
    border: 1px dashed transparent;
    padding: 3px 7px 3px 0;
    &:focus {
        outline: none;
        border-color: rgb(121, 121, 121);
    }
    &:hover {
        border-color: rgb(121, 121, 121);
    }
}
