.my-week {
    margin-inline-start: 10.125rem;
    margin-inline-end: 32px;
    .top {
        margin-block-end: 40px;
        img {
            width: 110px;
            height: 100px;
            object-fit: cover;
        }
        h2 {
            width: rem(250px);
        }
    }
    Input {
        width: rem(300px);
    }
    .bottom {
        .tasks-user {
            text-align: start;
            border: 1px solid black;
            margin: 6px;
            border-radius: 10px;
        }
        .left {
            padding: 6px;
            h3 {
                margin-block-start: 5px;
                margin-block-end: 5px;
            }
            a {
                color: rgb(117, 117, 117);
                padding: 5px;
                &:hover {
                    color: #ee2c2e;
                    cursor: pointer;
                }
            }
        }
        .right {
            width: rem(185px);
            align-items: center;
            background-color: #3179a3;
            color: white;
            // border-left: 0.5px solid black;
            border-radius: 0 10px 10px 0;
            padding: 0 50px;
            // font-size: 20px;
        }
    }
}
